parameters:
    level: 8

    paths:
        - bin
        - src
        - tests

    ignoreErrors:
        - '#Cannot call method writeln\(\) on Symfony\\Component\\Console\\Style\\SymfonyStyle\|null#'
